# Environment files

.env
.env.*
!.env.example



# Python

__pycache__/
*.pyc
.venv/
venv/
.taskflow/



# Node / React

node_modules/
dist/



# Database backups

*.dump
*.sql



# OS / Editor files

.vscode/
.idea/
.DS_Store
Thumbs.db