# THIS FILE STORES THE CONFIGURATION SETTINGS OF THE DATABASE THAT WOULE BE CONNECTED TO THE BACKEND.

# database
DATABASE_HOST = localhost
DATABASE_PORT = 5432
DATABASE_NAME = taskflow
DATABASE_USER = postgres
DATABASE_PASSWORD = database_password

# jwt
SECRET_KEY = jwt_secret_key
ALGORITHM = HS256
ACCESS_TOKEN_EXPIRE_MINUTES = 30